{% extends "base.html" %}
{% block content %}
        <!-- Team Members Row -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">샤로수길</h2>
            </div>
            {% for x in img %}
            <div class="col-lg-4 col-sm-6 text-center">
                <img class=" img-responsive img-center" src="{{ x.image.url }}"  width="300px" height="150px" alt="">
                <h3>{{x.title}}
                    <small>{{x.tags}}</small>


                </h3>
                <p>{{x.content}}</p>
            </div>
            {% endfor %}

        </div>

{% endblock %}